.gina__title {
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 75px;
    line-height: 74px;
    margin: 110px 0 50px 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;


}