.cards__item-title-small {
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 36px;
    line-height: normal;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    margin: 18px 0 20px 0;
}
