.form__search {
    border: 0;
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #93a3ab;
    color: #93a3ab;
    background-color: transparent;
    padding:0 0 0 12px;
    outline-style: none;



}

.form__search::placeholder {
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 18px;
    color: #93a3ab;



}