 .cards__item_theme_turquoise {
    background-color:#81cada ;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../../../../Image/dr_2.png');
    background-repeat: no-repeat;
    background-position: left 50% bottom -97%;
    background-size: initial;
    padding-top: 70px;
    text-align: left;
 }
