.cards__container {
   /* margin: 40px 0 0 0;*/
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(2, 560px);
    grid-template-rows: 520px;
    grid-column-gap: 40px;
    justify-content: center;
}