@import url('./_theme/cards__item_theme_dark-grey.css');
@import url('./_theme/cards__item_theme_green.css');
@import url('./_theme/cards__item_theme_orange.css');
@import url('./_theme/cards__item_theme_turquoise.css');
@import url('./_theme/cards__item_theme_violet.css');


.cards__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}


