.footer__link {
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    color: #92a1a9;
    font-weight:200;
    margin: 0 15px 0 15px;
}



.footer__link:hover {
    text-decoration: underline;
    opacity: 0.5;
    transition: opacity 0.25s linear;

}
