.cards__item-button-buy {
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 18px;
    line-height: normal;
    width: 115px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    border:3px solid #eec9a2;
    background-color: inherit;
    font-weight:400;
    margin: 68px 0 0 0;
}

.cards__item-button-buy:hover {
    opacity: 0.7;
    transition: opacity 0.25s linear;
    cursor: pointer;
}
