.subscribe__input-mail {
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    width:360px;
    height:55px;
    color: #92a1a9;
    font-weight:400;
    margin: 0 0 18px 0;
    border: 3px solid;
    background-color: inherit;
    box-sizing: border-box;
}