@import url('./__desc-1/subscribe__desc-1.css');
@import url('./__desc-2/subscribe__desc-2.css');
@import url('./__form/subscribe__form.css');
@import url('./__input-mail/subscribe__input-mail.css');
@import url('./__form-button/subscribe__form-button.css');


.subscribe {
    width: 1160px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}