.subscribe__form-button {
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    width:360px;
    height:55px;
    color: white;
    font-weight:400;
    margin: 0 0 70px 0;
    border: 3px solid #82c9d8;
    background-color: inherit;
    
}